@import helper._
@import views.html.helper.{form, inputText}


@(product: Form[CreateTopDealForm], categories: Seq[TopDeal])(implicit request: MessagesRequestHeader, flash: Flash)
@flash.get("success").getOrElse("")

@main("Create deal") {
    <h2>Create deal</h2>

    @form(action = routes.TopDealsController.saveAddTopDeal()) {
        @helper.CSRF.formField
        @inputText(product("id"))
        @inputText(product("discount"))
        @inputText(product("product"))


        <input type="submit" value="Submit">
    }
}